article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}

h2, .h2 {
    margin-bottom: 1.5em;
    margin-top: 2em;
}

.col-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}

img {
    vertical-align: middle;
    border-style: none;
}

.col-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
}

.table-bordered {
    border: 1px solid #dee2e6;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}

table {
    border-collapse: collapse;
}

.table-bordered td, .table-bordered th {
    border: 1px solid #dee2e6;
}

.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.catalog-item-size.selected {
    background: #727e86;
    border-radius: 15px;
    color: #fff;
}

.catalog-item-size {
    display: inline-block;
    padding: 0 10px;
    cursor: pointer;
}

.btn-block {
    display: block;
    width: 100%;
}

.btn-group-lg>.btn, .btn-lg {
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
}

