.card {
    max-width: 30rem;
    margin: 0 auto;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

.form-group {
    margin-bottom: 1rem;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
}

.btn-outline-secondary {
    color: #6c757d;
    border-color: #6c757d;
}